@define-color bg    #1a1b26; 
@define-color aqua  #7FD8BE;
@define-color fg    #a9b1d6; 
@define-color blk   #32344a; 
@define-color red   #f7768e; 
@define-color grn   #9ece6a; 
@define-color ylw   #e0af68; 
@define-color blu   #7aa2f7; 
@define-color mag   #9F86C0; 
@define-color cyn   #0db9d7; 
@define-color brblk #444b6a; 
@define-color white #ffffff
; 
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  font-weight: bold;
}

window#waybar {
  background-color: @bg;
  color: @fg;
}

button:hover {
  background: inherit;
}

#workspaces button {
    padding: 0 5px;
    color: @cyn;
    background: transparent;
    border-bottom: 3px solid @bg;
}
#workspaces button.active {
    color: @cyn;
    border-bottom: 3px solid @mag;
}
#workspaces button.empty {
    color: @white;
}
#workspaces button.empty.active {
    color: @cyn;
    border-bottom: 3px solid @mag;
}

#workspaces button.urgent {
    background-color: @red;
}

#clock,
#battery,
#custom-sep,
#backlight,
#network,
#pulseaudio,
#bluetooth {
  padding: 0 6px;
  color: @white;
}

#custom-sep {
    color: @brblk;
}

#clock {
    color: @aqua;
    border-bottom: 4px solid @aqua;
}

#battery {
    color: @mag;
    border-bottom: 4px solid @mag;
}

#network {
    color: @red;
    border-bottom: 4px solid @red;
}

#bluetooth {
    color: @ylw;
    border-bottom: 4px solid @ylw;
}

#backlight {
    color: @blu;
    border-bottom: 4px solid @blu;
}

#pulseaudio {
    color: @grn;
    border-bottom: 4px solid @grn;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

/* battery critical animation */

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
